.App {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

.paper {
    width: 280px;
    height: 195px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #adadad;
}

.display {
    text-align: center;
    font-size: 75px;
    font-weight: 500;
    color: #3d3d3d;
    border: solid 1px #adadad;
    border-radius: 10px;
    padding: 5px 0 10px;

}

.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 115px;
    align-content: space-evenly;
    font-size: 20px;
    font-weight: 500;
    color: #3d3d3d;
    justify-content: space-around;
    border: 1px solid #adadad;
    border-radius: 10px;
}

input {
    display: inline-block;
    font-size: 16px;
    max-width: 100px;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 65px;
    border: 1px solid #adadad;
    border-radius: 10px;
    margin-top: 10px;
}

.inputError {
    background-color: lightpink;
}